body{
                background-color: #83c5be;
            }
            
hr{
                border-style: dotted none none none;
                border-width: 10px;
                border-color: #bee9e8;
                width: 5%
            }
H1{
                color: #006d77;
            }
H2{
                color: #006d77;
            }
H3{
                color: #e29578;
            }
H4{
                color: #e29578;
                font-size: 25px;
}
p{
                color: #fdf8e1;
}
ul{
                color: #fdf8e1;
}
ol{
                color: #fdf8e1;
}
table{
                color: #fdf8e1;
}           
form{
               color: #bee1e6;
              
}
a{
    color: f0daa0;
}
